*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
.title-text{
    font-size: 40px;
    text-align: center;
}
body{
    font-family: 'Baloo Chettan 2', cursive;
    line-height: 1.5;
}
/*navbar*/
/* #menu-bar{
    width: 50px;
    height: 10px;
    margin: 50px 10px 10px 20px;
    position:fixed;
    cursor: pointer;
    z-index: 1;
}
  
.bar{
    background:orange;
    border-radius: 10%;
    transition: .4s;
}
#bar1{
    width:40px;
    height: 10px;
    transform: translateY(-4px);
}
#bar2{
    width: 40px;
    height: 10px;
}
#bar3{
    width: 40px;
    height: 10px;
    transform: translateY(4px);
}
.change .bar{
    background: #fff;
}
.change #bar1{
    transform: translateY(6px);
    rotate: z(45deg);
}
.change #bar3{
    transform: translateY(-15px);
    rotate: z(-45deg);
}
.change #bar2{
    opacity: 0;
}
.nav li a{
    text-decoration: none;
    color: orange;
    font-size: 20px;
    text-transform:uppercase ;
    font-weight: bold;
   
}
.nav li a:hover{
    color: #fff;
    background: orange;
    padding-left: 10px;
}
.nav li{
    margin: 20px 10px 10px 20px;
    padding-top: 10px;
    list-style-type:none;
}
.nav{
    display: none;
}
.change-btn{
    display: block;
} */

.navbar{
    
    /* width: 100vw;
    background-color: #0A192F;
    height: 60px;
    /* line-height: 3.3rem; */
    /* border-image-source: linear-gradient(90deg,#ff8a00,#e52e71,navy,yellow,red,green,gray); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #0A192F; */
    box-shadow: 0 0 3rem 0 black;
    /* background: navy; */
    background-color: gray;
} 
.brand{
    font-size: 3.5rem;
    margin: .5rem;
    color:orange;
    cursor: pointer;

}
/* .ggg{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto; */
/* } */
.navbar-links ul{
    /* margin-left: 60rem; */
    display: flex;
    
}
.block{
      position: absolute;
      width: 50px;
      height: 100px;
      background: #0A192F;
      box-shadow: 10px 10px 50px rgba(0,0,0,0.2);
}

.navbar-links li{
    list-style: none;
    margin: 0px 15px 0px 10px;
}
/* .navbar ul li a{
    text-decoration: none;
    margin: 3rem;
    font-size: 2.4rem;
    color: beige;
    
} */
.navbar-links li a{
    text-decoration: none;
    padding: 1rem;
    display: block;
    font-size: 2.3rem;
    color: orange;
    border-radius: 0px;
    /* background: #0A192F; */
    /* box-shadow: inset 5px 5px 10px #040a13, inset -5px -5px 10px #10284b; */
    border-radius: 25px;
   
}
 
/* .navbar-links li:hover{
    background: gray;
    color: rebeccapurple;
    border-bottom: 2px solid black;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg,#ff8a00,#e52e71,navy,yellow,red,green,gray);
} */
.navbar-links li a:hover{
    transition-duration: 1s;
    transform: scale(1.2);
    border-radius: 0px;
    color: aqua;
/* background: linear-gradient(145deg, #0b1b32, #09172a);
box-shadow:  5px 5px 10px #040a13,
             -5px -5px 10px #10284b;
             border-radius: 25px; */
             
}
.toggle-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;

}
.toggle-button .bar{
    height: 3px;
    width: 100%;
    background: #231d11;
    border-radius: 10px ;
}
@media (max-width: 770px){
    .row{
        margin: 3rem;
    }
    #divv{
        flex-direction: column;
    }
    #img{
        margin-top: 2rem;
    }
    .toggle-button{
        display: flex;
    }
    .navbar-links{
        display: none;
        /* transform: translateY(-10%);
            transition: transform .3s ease-in-out; */
            transition-duration: 1s;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        transition-duration: 1s;
    }
    .navbar-links ul{
        width: 100%;
        flex-direction: column;
    }
    .navbar-links li{
        text-align: center;
        margin: 0 0 10px;
        
    }
    .abme{
        animation: navv 1s ease-in-out;
         
         
    }
    .exr{
        transition-delay: 1s;
        animation: navv 2s ease-in-out;
    }
    .skl{
        animation: navv 3s ease-in-out;
    }
    .wwt{
        animation: navv 4s ease-in-out;
    }
    .navbar-links li a{
        padding: .5rem 1rem;
    }
    .navbar-links.active{
        transition-duration: 1s;
        display: flex;
    }
    .chang #bar1{
        transition-duration: 1s;
        transform: translateX(0) rotate3d(1, 1, 6,  -45deg ) translateY(11px);
        /* stroke-dasharray: 90 207;
        stroke-width: 6; */
    }
    .chang #bar2{
      display: none;
    }
    .chang #bar3{
        transition-duration: 1s;
        transform: translateX(-2px) rotate3d(1, 1, 6, 
        45deg
         ) translateY(-14px);
    }
    
    /* .portfolio{
        width: 36rem;
    } */
    #rahul{
        font-size: 9vw;
        margin-left: -6rem;
    }
    h2{
        font-size: 8vw;
        margin-left: -3rem;
        /* margin-top: -3rem; */
    }
    h3{
        font-size: 9vw;
        margin-left: -4rem;
    }
}
@keyframes navv{
    0%{
        transform: translateX(-150px) translateY(-150PX);
    }
    25%{
        transform: translateY(10PX);
    }
    75%{
        transform: translateY(-10PX);
    }
    100%{
        transform: translateX(0) translateY(0);
    }
}
/*header*/
.header{
   /* display: flex;*/
    min-height: 100vh;
     background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4)),
     url(./image/header.jpg)center/cover no-repeat fixed;
    /* flex-direction: column;*/
    margin-top: auto; 
}
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}
.hero .title{
    color: #fff;
    font-size: 50px;
}
.hero-button{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 13px 20px;
    border-radius: 200px;
    font-weight: bold;
    background: orange;
    color:#fff;
    cursor: pointer;
    border: 2px solid orange;
    margin-top:10px;
  
}
.hero-button:hover{
    background: #fff;
    color: orange;
    border: none;
}
.main1{
    position: fixed;
    /* width: 40px; */
    height: 40px;
    /* background: aquamarine; */
    bottom: 20px;
    right: 1%;
    color: orange;
}

.pulsate{
    animation: pulsate 3s ease-in-out;
    animation-iteration-count:infinite ;
    opacity: .3;
    color: black;
}
 @-webkit-keyframes pulsate{
    0% {
        opacity: .3;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: .3;
    }
}
/*==========About Section============*/
#about{
    padding: 40px;
}

.about{
    margin: 30px 0;
    display: flex;
}
.about-icon .fas{
    font-size: 60px;
    color: orange;
    margin-right: 40px;
}
.about-subtitle{
    text-transform: capitalize;
    color: orange;
    font-size: 25px;
}
.about-info{
    margin-top: 10px;
    line-height: 1.5;
}
.about-center{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}

/*=====Menu Section=======================*/
.menu-image{
    min-height: 80vh;
    background: url(image/menu.jpg) center/cover fixed no-repeat;
}
.menu-text{
    min-height: 80vh;
    display: flex;
    align-items: center;
    background: orange;
    columns: #0000;
    padding: 40px 0;
}
.menu-text-center{
    width: 90%;
    margin: 0 auto;
}
.menu-text h1{
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.menu-text p{
    margin: 20px 0;
    line-height: 2;
}
.menu-text a{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 13px 20px;
    border-radius: 200px;
    font-weight: bold;
    background: rgb(10, 10, 10);
    color:orange;
    cursor: pointer;
    border: 2px solid #000;
    margin-top:10px;
}
.menu-text a:hover{
    color:orange;
    background: #fff;
    border:none;

}
@media screen and (min-width:900px){
    .menu{
        display: flex;
    }
    .menu-text{
        flex: 0 0 30%;
    }
    .menu-image{
        flex: 0 0 70%;
        clip-path: polygon(0 0, 100% 0, 50% 100%, 0 100%)
    }
    .menu{
        background: orange;
    }
}

/*==========Social Icons====*/

#social-icons{
 height: 150px;
   background:#fff;
    text-align: center;
   /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 40%);*/
    padding: 50px 0 50px 0;
}
#social-icons a{
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px;
    font-size: 40px;
    border-radius:5px;
    transition: transform 2s ease, color 2s ease;
}
#social-icons a:hover{
    transform: translateY(-20px);
}
.facebook{
    color: #3b5998;
}
.twitter{
  color:  #38A1F3;
}
.instagram{
 color:   #e1306c;
}
.plus{
    color:#db4a39;
}


/*==========Cards Section========*/
#coffee{
    padding: 20px ;
}
.coffee-container{
    display: flex;
    align-content: stretch;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
}

.coffee-card{
    position: relative;
    background: linear-gradient(rgba(205, 96, 0, 0.7),rgba(205,96,0,0.7));
    margin:20px 0;
    color: #000;
    overflow: hidden;
    padding: 3px;
    border-radius: 16px;
    border: 1px solid orange;
    box-shadow: 2px 3px 1px 1px #cd6100;
}

#coffee img{
    width: 320px;
    height: 200px;
    display: block;
    transition: transform 2s;
    margin-top: 3rem;
}


.img-text{
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    text-align: center;
    opacity: 0;
    transition: opacity 4s;

}
.img-footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px;
    font-size: 20px;
    opacity: 0;
    color: #000;
    transition: opacity 4s;
}
.img-text h1{
    font-size: 30px;
    /* margin-bottom: 50px; */
    margin-left: 100px;
    margin-top: -60px;
}
.coffee-card:hover img{
    opacity: 0.4;
    transform: scale(1.3);
}
.coffee-card:hover .img-text 
 {
    left: 300px;
    top: 40px;
    opacity:1;
}
.coffee-btn{
    display: inline-block;
    background:#000;
    text-decoration: none;
    text-transform: capitalize;
    padding: 12px 32px;
    color: #fff;
    font-weight: bold;
    border-radius: 180px;
    cursor: pointer;
    margin-top: 16px;
    transition: all 0.3s ease-in-out;
    font-size:18px;
    outline:none;
}
.coffee-btn:hover{
    color: orange;
    background:#ffff;
    border: #000;
    outline: none;
}
.fas{
    font-size: 30px;
}


/*=========Gallery Section============*/
#gallery{
    padding: 40px;
    background: #fff;
}
.gallery-item{
    background: linear-gradient(rgb(rgba(241, 161, 13)) rgb(rgb(255, 165, 0)));
}
.gallery-item img{
    display:block;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 2s ease;
}
.gallery-item img:hover{
    opacity: 0.5;
}
@media screen and (min-width:576px){
     
    #gallery-center{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
}
@media screen and (min-width:992px){
    #gallery-center{
        grid-template-columns: repeat(4, 1fr);
    }
}

/*==========Footer========*/
.footer{
    background:#000;
    text-align: center;
}
.footer .text{
text-transform: uppercase;
color: #fff;
font-size: 24px;
margin-top: 20px;
}
